.landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.basket img{
    width: 40px;
    height: 40px;
}

.basket{
    display: flex;
    align-items: flex;
    justify-content: center;
    background: beige;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 24px;
    color: #000;
}

.header{
    text-align: center;
}

h1{
    color: rgb(69, 115, 175);
    font-size: 24px;
    margin:  20px 0;
}
.search-bar{
    background: bisque;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    width: 300px;
}
.search-bar input{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10%;
}

.search-bar button{
    background: #ffcc00;
    border: none;
    border-radius: 5px;
    padding: 20px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.footer{
    background: white;
    padding: 20px;
}