@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}
body{
    background: #fff;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 9%;
    background: #fff;
    cursor: pointer;
    width: 100%;
    height: 8rem;
}
.header .logo{
    align-items: center;
    justify-content: center;
}
.header .logo i{
    font-size: 2rem;
    color: #2d7ad4;

}
.header .logo span{
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #2d7ad4;
    text-transform: capitalize;
}

.header .Links a{
    font-size: 1.5rem;
    padding: 3rem;
    color: black;
}

.header .Links a:hover {
    color: #2d7ad4;
    transform: .5s;
    text-decoration: underline;
}

.header .buttons button{
    margin: 1rem;
    height: 4.5rem;
    width: 9rem;
    border-radius: 10px;
    background: #2d7ad4;
    color: #fff;
    border: none;
}

/* SignupForm.css */
.form {
    width: 35rem;
    height: 38rem;
    position: fixed;
    top: 0;
    right: -400px; 
    margin-right: 3rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    z-index: 999; 
    margin-top: 8rem;
  }
  .form h3{
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    color: #2d7ad4;
  }
  .form.open {
    right: 0; 
  }
  
  .form p{
    align-items: center;
    text-align: center;
    margin-top: 1rem;
  }
  .form p span{
    color: #2d7ad4;
  }
  
  .form input {
    width: 80%;
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 3rem;
    border-radius: 3px;
    border: 1px solid #ccc;

  }
   .form button{
        font-size: 1.5rem;
        color: #fff;
        width: 18rem;
        background: #2d7ad4;
        border: none;
        height: 4rem;
        margin-top: 1rem;
        margin-left: 8rem;
        border-radius: 8px;
   }

   .form2{
    height: 28rem;
   }

   .page .layout {
    margin-top: 10rem;
    width: 100%;
    background: #D9EAFF;
    padding-left:43%;
    padding-top: 14%;
    color: #000;
    font-family: Outfit;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   }
   .line{
    padding-left: 43%;
   }
   .page .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
   }
   
   .page .profile h3{
    font-size: 2.5rem;
   }

   .page .profile form{
        display: flex;
        flex-direction: column;
        width: 35rem;
        height: 35rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-top: 3rem;
   }

   .page .profile form input{
    width: 80%;
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 3rem;
    border-radius: 3px;
    border: 1px solid #ccc;
   }

   .page .profile form button{

        font-size: 1.5rem;
        color: #fff;
        width: 18rem;
        background: #2d7ad4;
        border: none;
       
        margin-top: 1.5rem;
        margin-left: 8rem;
        border-radius: 8px;
   }

   .page .profile form span{
    color: red;
    text-align: center;
    margin-top: 1rem;
    text-decoration: underline;
    font-size: 1.2rem;
   }

   .page .card{
   
    background: #D9EAFF;
    height: 14rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 10%;
    height: 16rem;
   }

   .page .card .search {
    margin-left: 4rem;
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
   }
   .page .card .search p{
        font-size: 2.2rem;
        font-weight: bold;
   }
   .page .card .search input{
    margin-top: 1.5rem;
    width: 50%;
    padding: 0px 32px;
    border-radius: 120px;
    border: 1px solid #ccc;
    line-height: 50px;
    font-size: 16px;
   }

   .page .card .filter{
    margin-right: 1rem;
   }

   .page .card .filter button{
        height: 5rem;
        width: 10rem;
        background: #fff;
        border-radius: 32px;
        
   }
   .page .card .filter button i{
     font-size: 2rem;
     padding: 0px 5px;

   }
